// This is imported into src/index.scss which already imported variables

.header,
.footer {
  background: $hf-background;
  text-transform: uppercase;
  text-align: center;
  color: $hf-color;
  font-size: 1rem;
  flex: 0 0 auto;
  width: 100%;
}

.main {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.router-outlet {
  overflow-y: auto;
  flex-shrink: 0;
  flex-grow: 1;
}

.navigation {
  box-shadow: 2px 0 4px $shadow-background;
  background: $navigation-background;
}

.navigation__menu {
  width: 60px;
}

